$primary-color: rgb(77, 88, 192);
$text-color: white;

.header {
  color: $text-color;
  background-color: $primary-color;

  .menu-items {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    padding: 20px 0 20px;
  }
}